.marker-container {
    
    border-radius: 50%;
    background-color: red;
    text-align: center;
    
    /*        text-align: center;*/
}

.small-marker {
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: white;
    font-size: 12px;
}

.large-marker {
    width: 84px;
    height: 84px;
    
    background-color: rgba(255,0,0,0.8);
}

.large-marker p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: white;
}

.large-marker .title {
    padding-top: 10px;
    /*        font-weight: bold;*/
    font-size: 14px;
}