* {
    margin: 0;
    padding: 0;
}
  
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*        margin: 0;*/
}
               
#map {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    z-index: 0;
}

.stat-panel {
    position: absolute;
    z-index: 1;
    
    top: 120px;
    left: -300px;
    width: 200px;
}
                  
.rank-panel {
    position: absolute;
    z-index: 1;
    
    width: 200px;
    top: 120px;
    right: -300px;
}

.fab-button {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  
  border-radius: 50%;
  background-color: rgba(0,0,0,0.7);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* 标记样式 */
.marker-container {
    
    border-radius: 50%;
    background-color: red;
    text-align: center;
    
    /*        text-align: center;*/
}

.small-marker {
    width: 70px;
    height: 70px;
/*    line-height: 60px;*/
    color: white;
    font-size: 11px;
}

.small-marker .marker-content {
  padding-top: 15px;
}

.small-marker .cityname {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}

.large-marker {
    width: 84px;
    height: 84px;
    
    background-color: rgba(255,0,0,0.8);
}

.large-marker p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: white;
}

.large-marker .title {
    padding-top: 10px;
    /*        font-weight: bold;*/
    font-size: 14px;
}
                  