* {
    margin: 0;
    padding: 0;
}
  
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*        margin: 0;*/
}
               
#map {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    z-index: 0;
}
                  
.show-rank {
    position: absolute;
    z-index: 1;
    
    top: 10px;
    right: 10px;
    
    height: 44px;
    
}
                  
.show-rank .cb-position {
    /*        margin-top: 13px;*/
    font-size: 16px;
}
                  
.stat-panel {
    position: absolute;
    z-index: 1;
    
    top: 120px;
    left: -300px;
    width: 200px;
}
                  
.rank-panel {
    position: absolute;
    z-index: 1;
    
    width: 200px;
    top: 120px;
    right: -300px;
}
                  
.top-search-section {
    position: absolute;
    z-index: 1;
    
    width: 60%;
    left: 20%;
    top: 10px;
    
}

.top-search-section .table {
    background-color: rgba(255,255,255, 0.9);
    margin: 0;
    margin-top: 5px;
    color: rgb(58,58,58);
}
                  
.search-input-container {
    /*        border: 1px solid rgb(216,216,216);*/
    /*        width: 100%;*/
    /*        height: 44px;*/
    /*        background-color: white;*/
    /*        clear: both;*/
}

.search-input-container .city {
    border: 0;
    border-radius: 0;
    -ms-border-radius: 0;
    /*        height: 40px;*/
    width: 55px;
    /*        width: 100%;*/
    margin: 0;
    padding: 0;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 2px;
}

.other-filter-item {
    border: 0;
    border-radius: 0;
    -ms-border-radius: 0;
    /*        height: 40px;*/
    width: 55px;
    /*        width: 100%;*/
    margin: 0;
    padding: 0;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 2px;
}

/*      .search-input-container .table {
 background-color: white;
 }*/

.search-input-container .table td {
    vertical-align: middle;
}

.search-field {
    padding: 5px;
    border: 0;
    /*        margin-top: 6px;*/
    width: 100%;
}

.filter-items {
    /*        padding-left: 10px;*/
    /*        background-color: red;*/
    text-align: left;
}
.filter-items .item {
    display: inline-block;
    padding: 5px;
    /*        margin-left: 20px;*/
    color: rgb(58,58,58);
}

.search-breadcrumb a {
    color: rgb(158,158,158);
    font-size: 12px;
    text-decoration: none;
    padding: 5px;
}

.search-breadcrumb .bc-item {
    border: 1px solid rgb(241,241,241);
    background-color: rgb(247,247,247);
}

.search-breadcrumb .bc-item .red {
    color: rgb(245,0,0);
}

/* 高级过滤 */
.filter-container {
    width: 100%;
}

.custom-item input {
    padding: 0 5px;
    width: 88px;
}

/*      .filter-container .table {
 background-color: white;
 }*/

.filter-container .label-bar {
    /*        background-color: red;*/
    text-align: center;
    vertical-align: top;
}

.filter-container .table .td-time {
    vertical-align: middle;
}
                  
/** 下面的CSS是地图标记样式 **/
.marker-container {
    
    border-radius: 50%;
    background-color: red;
    text-align: center;
    
    /*        text-align: center;*/
}

.small-marker {
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: white;
    font-size: 12px;
}

.large-marker {
    width: 84px;
    height: 84px;
    
    background-color: rgba(255,0,0,0.8);
}

.large-marker p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: white;
}

.large-marker .title {
    padding-top: 10px;
    /*        font-weight: bold;*/
    font-size: 14px;
}